apiVersion: v1
kind: Service
metadata:
  labels:
    app: zookeeper
  name: zookeeper
spec:
  type: NodePort
  ports:
    - name: port
      port: 2181
      nodePort: 30181
      targetPort: 2181
  selector:
    app: zookeeper
  